*, html, body {
    margin: 0;
    padding: 0; }
  
  .sort {
    font-weight: 400;
    font-family: 'roboto';
    color: #111;
    background: #fafafa;
    border-color: #fafafa;
    font-size: 14px;
    line-height: 17px; }
  
  .sort-active {
    background: #1baf69;
    border-color: #1baf69;
    color: #fafafa; }
  
  body {
    background-color: #fafafa; }
  
  header {
    background: #0c3633;
    height: 200px;
    color: #fafafa;
    margin-bottom: 50px; }
    header nav i.fa {
      color: #1baf69; }
    header nav .logo {
      height: 50px; }
    header nav .navbar-brand {
      color: #fff;
      width: 9vw;
      margin-right: 0; }
    header nav .navbar-nav li {
      padding: 0 10px; }
    header nav .navbar-nav .nav-link {
      font-family: 'roboto';
      font-size: 14px;
      font-weight: 400;
      padding: 5px 20px;
      color: #fafafa;
      text-transform: uppercase; }
    header nav .navbar-nav .active .nav-link {
      color: #1baf69 !important; }
    header .search-wrapper h1 {
      margin-top: 20px;
      margin-bottom: 40px;
      text-align: center;
      font-family: 'roboto';
      font-weight: 300;
      font-size: 31px;
      line-height: 37px; }
    header .search-wrapper .center {
      width: 34rem;
      margin: 0px auto; }
      header .search-wrapper .center form .form-group .input-group {
        height: 60px; }
        header .search-wrapper .center form .form-group .input-group .input-group-text {
          border-bottom-left-radius: 50px;
          border-top-left-radius: 50px;
          background: white;
          border-right: none; }
      header .search-wrapper .center form .form-group .form-control:focus {
        border-color: #ced4da;
        box-shadow: none; }
      header .search-wrapper .center form .form-group .form-control {
        border-left: none;
        height: 60px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        width: 28rem; }
      header .search-wrapper .center form .btn-success {
        height: 60px;
        border-radius: 50px;
        width: 3.75rem; }
  
  header.watch_movie {
    height: 150px;
    margin-bottom: 30px; }
  
  .main-wrapper h2 {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    color: #111;
    margin-bottom: 20px; }
  .main-wrapper section.lists {
    padding: 0px 15px;
    margin-bottom: 80px; }
    .main-wrapper section.lists .list:hover .play i {
      opacity: 1;
      transition: opacity 1s ease; }
    .main-wrapper section.lists .list {
      padding: 0px 8px;
      cursor: pointer; }
      .main-wrapper section.lists .list .play i {
        padding: 29px 41px 29px 33px;
        border-radius: 50px;
        background-color: #1baf69;
        position: absolute;
        color: #fafafa;
        top: 50%;
        left: 50%;
        margin-left: -35px;
        margin-top: -60px;
        opacity: 0; }
      .main-wrapper section.lists .list span.type {
        font-family: 'Arial';
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        background: rgba(250, 250, 250, 0.8);
        padding: 5px 3px;
        position: absolute;
        top: 10px;
        right: 20px;
        border-radius: 3px; }
      .main-wrapper section.lists .list img {
        border-radius: 10px; }
      .main-wrapper section.lists .list h4 {
        font-family: 'roboto';
        font-size: 14px;
        font-weight: 500;
        margin-top: 10px;
        color: #111;
        margin: 10px 0 3px; }
      .main-wrapper section.lists .list p {
        font-family: 'roboto';
        color: #666;
        font-size: 13px;
        font-weight: 400; }
        .main-wrapper section.lists .list p span {
          font-size: 12px;
          line-height: 12px;
          font-weight: 400;
          border: 1px solid #666;
          padding: 2px 5px;
          border-radius: 3px; }
  
  .watching_player-control {
    background: #000;
    padding: 10px;
    color: #ccc;
    margin-top: -6px; }
    .watching_player-control .btn {
      background: 0 0;
      border: none;
      color: #eee; }
  
  .movie-details {
    background: white;
    margin-top: 50px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05); }
    .movie-details img {
      border-radius: 10px;
      margin-top: 10px; }
    .movie-details p.like {
      margin-top: 15px; }
    .movie-details p.vote {
      margin-top: 25px; }
    .movie-details h1 {
      font-family: 'roboto';
      font-weight: 300;
      font-size: 38px;
      line-height: 49px;
      margin-top: 10px; }
    .movie-details p {
      font-family: 'roboto';
      font-weight: 300;
      font-size: 15px;
      line-height: 23px; }
    .movie-details p.action a {
      font-family: 'roboto';
      font-size: 14px;
      font-weight: 400;
      color: black;
      border-color: black; }
    .movie-details p.action a.btn-r {
      font-weight: 700; }
    .movie-details p.action b.rating {
      color: #ffa600;
      margin-left: 15px;
      font-family: 'roboto';
      font-weight: 600; }
    .movie-details p.list-details {
      margin-bottom: 5px; }
  
  .navbar-collapse {
    z-index: 9999;
    background: #0c3633; }
  
  .player iframe#iframe-embed {
    height: 48.12rem !important; }
  
  footer {
    background: #111;
    color: #fafafa;
    padding-top: 50px; }
    footer p {
      font-family: 'roboto';
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: #b9b9b9; }
    footer .nav {
      margin-top: 30px; }
      footer .nav li a {
        font-family: 'roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #fafafa; }
  
  @media (max-width: 575.98px) {
    header .search-wrapper h1 {
      font-size: 18px; }
    header .search-wrapper .center {
      width: 19rem; }
      header .search-wrapper .center form .form-group {
        margin-bottom: 0px; }
        header .search-wrapper .center form .form-group .form-control {
          width: 13rem; }
  
    .player {
      padding: 0px !important; }
      .player iframe#iframe-embed {
        height: 15.62rem !important; } }
  @media (min-width: 565.98px) and (max-width: 767.98px) {
    .player {
      padding: 0px !important; }
      .player iframe#iframe-embed {
        height: 25rem !important; } }
  
  /*# sourceMappingURL=style.css.map */
  